<footer class="footer">
  <small>
    <a href="https://github.com/SoloMikhail/test_case_tasksboard">Project on GitHub</a>
    <br>
    by Mikhail Ivanov
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li><br>
      <li><%= link_to "Contact", '#' %></li><br>
      <li><a href="https://github.com/SoloMikhail/">My News</a></li>
    </ul>
  </nav>
</footer>
